@import 'core/settings';
*{
	font-family: 'poppins', sans-serif;
}
body {
	background-color: $color-grey;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
}
.page__header-title{
	font-size: 40px;
	color: $color-white;
	font-weight: 400;
	word-spacing: 6px;
}
.page__main-search{
	padding-top: 40px;
}
.input{
	height: 34px;
	width: 200px;
	text-align: left;
	font-size: 16px;
	background-color: transparent;
	color: $color-white;
	border:none;
	border-bottom: 1px solid $color-white;
	&:focus {
		outline: none
	}
}
.btn{
	letter-spacing: 2px;
	cursor: pointer;
	margin-left: 20px;
	height: 40px;
	width: 120px;
	font-size: 16px;
	color: $color-white;
	text-transform: uppercase;
	background-color: transparent;
	border: solid 1px $color-white;
	border-radius: 12px;
	&:hover{
		background-color: $color-blue;
		border-color: $color-blue;
	}
}
.tv__shows{
	padding: 0;
	text-decoration: none;	
}
.show__title{
	color: $color-white;
	margin: 0;
	padding-top: 40px;
}
.tv__shows-list{
	list-style: none;
}
.img__show{
	border-radius: 10px;
}